# Compiled Object files
*.o

# Dependencies
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.x
*.exe
*.out
*.app

# General
*.swp
build/*
install/*
